name: AWS Nuke

on:
  # Enable manual runs
  workflow_dispatch:
    inputs:
      delete:
        description: 'Set to "true" to actually delete stuff'
        required: true
        default: "false"

  # Enable pull request for testing
  pull_request:
    types: [opened, synchronize, reopened]

  # Nuke testing account nightly
  schedule:
    # Run at noon UTC, 4 or 5am PT
    - cron: "0 */6 * * *"

permissions:
  contents: read

jobs:
  dry-run:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' || ( github.event_name == 'workflow_dispatch' && github.event.inputs.delete != 'true' )
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: arn:aws:iam::234656776442:role/brd-sndbx-ue1-core-admins
          aws-region: us-east-1

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # Ensure that an account alias is set or aws-nuke fails
      - run: aws iam create-account-alias --account-alias brd-sndbx || true

      - name: aws-nuke
        uses: "docker://quay.io/rebuy/aws-nuke:v2.25.0"
        with:
          args: "--config ./sandbox-nuke.yml --force --force-sleep 3"

      - uses: sarisia/actions-status-discord@eb045afee445dc055c18d3d90bd0f244fd062708 # v1.16.0
        if: failure()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}

  no-dry-run:
    runs-on: ubuntu-latest
    if: github.event_name == 'schedule' || ( github.event_name == 'workflow_dispatch' && github.event.inputs.delete == 'true' )
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: arn:aws:iam::234656776442:role/brd-sndbx-ue1-core-admins
          aws-region: us-east-1

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # Ensure that an account alias is set or aws-nuke fails
      - run: aws iam create-account-alias --account-alias brd-sndbx || true

      - name: aws-nuke
        uses: "docker://quay.io/rebuy/aws-nuke:v2.25.0"
        with:
          args: "--config ./sandbox-nuke.yml --force --force-sleep 3 --no-dry-run"

      - uses: sarisia/actions-status-discord@eb045afee445dc055c18d3d90bd0f244fd062708 # v1.16.0
        if: failure()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
